s# Add files names (and patterns) you want git to ignore here.

# Ignore java .class files.
*.class

# Ignore compiled C/C++ files.
*.o

# Ignore everything in the build directory.
build/
src/python/Icon
src/python/Icon
src/4-visualise-metrics/quick3js/src/.DS_Store
